@import url('https://fonts.googleapis.com/css2?family=Chakra+Petch:wght@400;700&display=swap');

:root {
    --cor-de-fundo: #1e1e1e;
    --verde: #6fff57;
    --branco: #ffffff;
    --botao-ativo: #3a37
}


font-family: "Chakra Petch", sans-serif;